.cart-container {
  padding: 2rem;
}

.cart-empty {
  text-align: center;
  padding: 1rem;
}

.cart-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.cart-item {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  width: 200px;
  text-align: center;
}

.cart-item img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 0.5rem;
}

.cart-item h4 {
  cursor: pointer;
  color: black;
  margin: 0.5rem 0;
}

.cart-item p {
  margin: 0.3rem 0;
}

.quantity-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.quantity-controls button {
  padding: 0.3rem 0.6rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.cart-item button.remove-btn {
  margin-top: 0.5rem;
  background-color: #ff4d4f;
  color: #fff;
  border: none;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.2s;
}

.cart-item button.remove-btn:hover {
  background-color: oklch(74.946% 0.15114 21.301);
}

.cart-actions {
  margin-top: 1rem;
}

.cart-actions button {
  margin-right: 0.5rem;
  padding: 0.7rem 1.5rem;
  border-radius: 6px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
  transition: 0.2s;
}

.cart-actions .clear-btn {
  background-color: #ff4d4f;
  border-radius: 20px;
}

.cart-actions .clear-btn:hover {
  background-color: oklch(74.946% 0.15114 21.301);
}

.cart-actions .checkout-btn {
  background-color: #00b53f;
  border-radius: 20px;
}

.cart-actions .checkout-btn:hover {
  background-color: hwb(141 24% 18%);
}

.error-message {
  color: red;
  margin-top: 1rem;
}
